@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.container {
    background-color: aqua !important;
    font-family: 'Playfair Display', serif;
}

.news-header{
    color: maroon;
    font-weight: bolder;
}
.news-header text-center{
    text-shadow: 0 0 5px #fff,  
                 0 0 10px #fff,  
                 0 0 20px green, 
                 0 0 30px green,     
                 0 0 40px green,     
                 0 0 55px green,                     
                 0 0 70px green;
}
p{
    color: rgb(185, 79, 79);
}
