{% extends 'base.html'  %}
{% import 'macros.html' as macro %}

{% block content  %}

    <h3>General News Today</h3>
    <ul>
        {{ macro.displayNewsList (general) }}
    </ul>
<hr>
    <h3>Sports News Today</h3>
    <ul>
        {{ macro.displayNewsList (sports) }}
    </ul>
    <hr>
    <h3>Business News Today</h3>
    <ul>
        {{ macro.displayNewsList (business) }}
    </ul>
    <hr>
    <h3>Technology News Today</h3>
    <ul>
        {{ macro.displayNewsList (technology) }}
    </ul>
   
 {% endblock  %}   
