{% macro displayNewsList(news_list) %}
    
    {% for news in news_list %}
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="details">
                            <h4 class="text-center" style="font-weight: bold; ">{{news.name}}</h4>
                            <p>{{news.description | truncate(100)}}</p>
                            <!--<p>{{news.country}}</p>-->
                            <p><a href="/articles/{{news.id}}"class="btn btn-primary">View News</a></p>
                    </div>
            </div>
            </div>
        </div> 
    {% endfor%}
{% endmacro %}



